@use '../../../base';

.mat-but {
    @extend %simple-raised-button;
}

.green {
    background-color: green;
    color: #fff;
    
}

.red {
    background-color: red;
    color: #fff;
    
}

#news-review-btn {
    background-color: green;
    color: white;
}