.mat-dialog-actions {
    justify-content: flex-end;
}
button.mat-raised-button.mat-primary { outline:none; background-color: #1A78C2; } 
button.mat-raised-button{ outline:none; } 
.mat-dialog-title { background-color: #1A78C2; color: white; text-align: center; padding-top: 3px; padding-bottom: 3px; }
.mat-dialog-content { text-align: center; }