<h1 mat-dialog-title class="mb-4 font-weight-bold">New administrator</h1>
<mat-dialog-content class="mt-3">
    <form [formGroup]="form" id="forma" (ngSubmit)="add()">
        <p><mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Email" [errorStateMatcher]="matcher" id="add-admin-email">
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="f.email.errors?.required" id="add-admin-email-error">Email is required</mat-error>
            <mat-error *ngIf="f.email.errors?.email" id="add-admin-email-invalid">Email is not valid</mat-error>
        </mat-form-field></p>
        <p><mat-form-field appearance="outline">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput placeholder="Username" [errorStateMatcher]="matcher" id="add-admin-username">
            <mat-icon matSuffix>account_circle</mat-icon>
            <mat-error *ngIf="f.username.errors?.required" id="add-admin-username-error">Username is required</mat-error>
        </mat-form-field></p>
        <p><mat-form-field appearance="outline">
            <mat-label>First name</mat-label>
            <input formControlName="firstName" matInput placeholder="First name" [errorStateMatcher]="matcher" id="add-admin-firstname">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="f.firstName.errors?.required" id="add-admin-firstname-error">First Name is required</mat-error>
        </mat-form-field></p>
        <p><mat-form-field appearance="outline">
            <mat-label>Last name</mat-label>
            <input formControlName="lastName" matInput placeholder="Last name" [errorStateMatcher]="matcher" id="add-admin-lastname">
            <mat-icon matSuffix>person</mat-icon>
            <mat-error *ngIf="f.lastName.errors?.required" id="add-admin-lastname-error">Last Name is required</mat-error>
        </mat-form-field></p>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" type="submit" form="forma" id="add-admin-btn">Add</button>
    <button class="ml-2 mat-raised-button" (click)="close()" id="close-add-admin-btn">Close</button>
</mat-dialog-actions>
  