<div>
    <div class="comment mx-auto my-5" *ngFor="let comment of comments.content
    | paginate : {
        itemsPerPage: size,
        currentPage: page,
        totalItems: comments.totalElements
        }; let i = index">
        <p class="cultural-offer-name">Cultural offer: {{ comment.culturalOfferName }}</p>
        <app-comment 
         [comment]="comment"></app-comment>
        <button mat-raised-button (click)="approve(comment, true)" class="mat-but mr-2 mt-3 green"><mat-icon class="mr-2">check</mat-icon>Approve</button>
        <button mat-raised-button (click)="approve(comment, false)" class="mat-but mr-2 mt-3" color="warn"><mat-icon class="mr-2">close</mat-icon>Decline</button>
    </div>
    <div class="mt-3 div-centered">
        <pagination-controls
        previousLabel="Previous"
        nextLabel="Next"
        (pageChange)="handlePageChange($event)"
        ></pagination-controls>
    </div>
</div>
