<h1 mat-dialog-title class="mb-4 font-weight-bold">Change password</h1>
<mat-dialog-content>
    <form [formGroup]="form" class="mt-1" (ngSubmit)="onSubmit()" id="formPassword">
        <p><mat-form-field appearance="outline">
            <mat-label>Old password</mat-label>
            <input formControlName="oldPassword" matInput placeholder="Old password" [errorStateMatcher]="matcher" [type]="hideOld ? 'password' : 'text'" id="old-password">
            <button type="button" mat-icon-button matSuffix (click)="hideOld = !hideOld">
                <mat-icon>{{hideOld ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f.oldPassword.errors?.required" id="old-password-error">Old password is required</mat-error>
        </mat-form-field></p>
        <p><mat-form-field appearance="outline">
            <mat-label>New password</mat-label>
            <input formControlName="newPassword" matInput placeholder="New password" [errorStateMatcher]="matcher" [type]="hideNew ? 'password' : 'text'" id="new-password">
            <button type="button" mat-icon-button matSuffix (click)="hideNew = !hideNew">
                <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-hint>Minimum length is 6 characters.</mat-hint>
            <mat-error *ngIf="f.newPassword.errors?.required" id="new-password-error">New password is required</mat-error>
            <mat-error *ngIf="f.newPassword.errors?.minlength" id="six-characters">New password must be at least 6 characters long</mat-error>
        </mat-form-field></p>
        <p><mat-form-field appearance="outline">
            <mat-label>Confirm password</mat-label>
            <input formControlName="confirmPassword" matInput placeholder="Confirm password" [errorStateMatcher]="matcher" [type]="hideConfirm ? 'password' : 'text'" id="confirm-password">
            <button type="button" mat-icon-button matSuffix (click)="hideConfirm = !hideConfirm">
                <mat-icon>{{hideConfirm ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="f.confirmPassword.errors?.match" id="no-match">New password and confirmed password don't match</mat-error>
        </mat-form-field></p>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" type="submit" form="formPassword" id="submit-password-button">Submit</button>
    <button class="ml-2 mat-raised-button" (click)="close()">Close</button>
</mat-dialog-actions>
  