<div class="jumbotron">
    <div class="container">
        <div class="row" >
            <mat-card class="col-sm-6 offset-sm-3" [class.mat-elevation-z24]='true'>
                <a [routerLink]="['/']"><img src="../../assets/Logo.png" height="150" width="150" class="mx-auto mb-4 d-block"/></a>
                <mat-card-header>
                    <mat-card-title><p class="mb-4 title">Let's start!</p></mat-card-title>
                    <mat-card-subtitle><p class="mb-5 subtitle">Explore cultural offers all around the world!</p></mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="outline" class="same-row">
                            <mat-label>First Name</mat-label>
                            <input formControlName="firstName" matInput placeholder="First Name" [errorStateMatcher]="matcher" id='signup-firstname'>  
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error *ngIf="f.firstName.errors?.required" id='signup-firstname-error'>First Name is required</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="ml-2 same-row">
                            <mat-label>Last Name</mat-label>
                            <input formControlName="lastName" matInput placeholder="Last Name" [errorStateMatcher]="matcher" id='signup-lastname'>
                            <mat-icon matSuffix>person</mat-icon>
                            <mat-error *ngIf="f.lastName.errors?.required" id='signup-lastname-error'>Last Name is required</mat-error>
                        </mat-form-field>
                        <p><mat-form-field appearance="outline" class="full-row">
                            <mat-label>Username</mat-label>
                            <input formControlName="username" matInput placeholder="Username" [errorStateMatcher]="matcher" id='signup-username'>
                            <mat-icon matSuffix>account_circle</mat-icon>
                            <mat-error *ngIf="f.username.errors?.required" id='signup-username-error'>Username is required</mat-error>
                        </mat-form-field></p>
                        <p><mat-form-field appearance="outline" class="full-row">
                            <mat-label>Email</mat-label>
                            <input formControlName="email" matInput placeholder="Email" [errorStateMatcher]="matcher" id='signup-email'>
                            <mat-icon matSuffix>email</mat-icon>
                            <mat-error *ngIf="f.email.errors?.required" id='signup-email-error-required'>Email is required</mat-error>
                            <mat-error *ngIf="f.email.errors?.email" id='signup-email-error'>Email is not valid</mat-error>
                        </mat-form-field></p>
                        <p><mat-form-field appearance="outline" class="full-row">
                            <mat-label>Password</mat-label>
                            <input formControlName="password" matInput placeholder="Password" [type]="hidePassword ? 'password' : 'text'" [errorStateMatcher]="matcher" id='signup-password'>
                            <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-hint>Minimum length is 6 characters</mat-hint>
                            <mat-error *ngIf="f.password.errors?.required" id='signup-password-error-required'>Password is required</mat-error>
                            <mat-error *ngIf="f.password.errors?.minlength" id='signup-password-length-error'>Password must be at least 6 characters long</mat-error>
                        </mat-form-field></p>
                        <button class="mr-3 px-3 mt-2 btn sign-up">Sign up</button>
                        <div class="mt-3">
                            Already have an account? <a [routerLink]="['/auth/sign-in']" class="text-primary">Sign in</a>
                        </div>
                    </form>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>