@use '../../../base';


mat-form-field {
    width: 100%;
}

mat-dialog-content {
    width: 1000px;
}

.news-title{
    width: 50%;
}

.mat-dialog-actions {
    @extend %dialog-actions;
}

.mat-raised-button.mat-primary { 
    @extend %raised-button;
} 

.mat-raised-button{ 
    @extend %simple-raised-button;
} 

.mat-dialog-title { 
    @extend %dialog-title;
}

.mat-dialog-content { 
    @extend %content-center;
}

.close.mat-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    padding: 5px;
    line-height: 14px;
    min-width: auto;
    margin-right: 23%;
    background-color: red;
}

mdb-carousel-item {
    max-width: 100%;
    align-content: center;
    img{
        max-width: 200px;
        margin: auto;
    }
}

#upload-btn {
    margin-left: 20px;
}
