<mdb-navbar
  SideClass="navbar navbar-expand-lg navbar-dark"
  class="navCss"
  [containerInside]="false"
>
  <mdb-navbar-brand
    ><a class="navbar-brand" routerLink="" routerLinkActive="active"
      ><img height="40" width="40" src="../../../../assets/Logo.png"></a
    ></mdb-navbar-brand
  >
  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          routerLink=""
          routerLinkActive="active"
          mdbWavesEffect
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6" mdbWavesEffect>News</a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link waves-light font-weight-bolder ml-2 mt-2 h6"
          routerLink="/cultural-offers"
          routerLinkActive="active"
          mdbWavesEffect
          >Cultural offers</a
        >
      </li>
      <li class="nav-item dropdown" dropdown>
        <a
          dropdownToggle
          mdbWavesEffect
          type="button"
          class="nav-link dropdown-toggle waves-light font-weight-bolder ml-2 mt-2 h6"
          mdbWavesEffect
        >
          Categories<span class="caret"></span
        ></a>
        <div
          *dropdownMenu
          class="dropdown-menu dropdown dropdown-primary"
          role="menu"
        >
          <a class="dropdown-item waves-light" mdbWavesEffect>Galleries</a>
          <a class="dropdown-item waves-light" mdbWavesEffect>Festivals</a>
          <a class="dropdown-item waves-light" mdbWavesEffect>Concerts</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button (click)="showProfile()" mat-menu-item><mat-icon>person_outline</mat-icon> Your account</button>
          <button (click)="logout()" mat-menu-item><mat-icon>exit_to_app</mat-icon> Log out</button>
        </mat-menu>
      </li>
    </ul>
  </links>
</mdb-navbar>
