@use '../../../base';

.jumbotron {
    background-image: url(../../../assets/2.png);
    @extend %auth-background;
}

.mat-card-header {
    @extend %auth-card-header;
}

.title {
    @extend %auth-title;
}

.subtitle {
    @extend %auth-subtitle;
}

.full-row {
    width: 90% !important;
}

.sign-in {
    @extend %auth-card;
}

form {
    @extend %content-center;
}