@use '../../../base';

.div-centered {
    @extend %flex-center;
}

.button-class {
    @extend %simple-raised-button;
    padding: 0px 8px 0px 8px; 
}

.button-add {
    @extend %simple-raised-button;
    float: right;
}

.button-group {
    display: block;
    position: relative;
    width: 100%;
}

app-search {
    width: 80%;
    display: inline-block;
}
  