.div-centered {
    display: flex;
    justify-content: center;
}

.button-class {
    /*background-color: #c90404; 
    border: none;
    color: white;*/
    padding: 0px 8px 0px 8px;
  /*  text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    border-radius: 10px;*/
  }
  