<div class="map-container">
  <agm-map
    class="float-right"
    [latitude]="latitude"
    [longitude]="longitude"
    [scrollwheel]="true"
    [zoom]="zoom"
  >
    <agm-marker
      *ngFor="let co of data; let i = index"
      [latitude]="co.geolocation.lat"
      [longitude]="co.geolocation.lon"
      (markerClick)="setLocation(co)"
    >
      <agm-info-window *ngIf="showInfoWindow">
        <img [src]="co.image" alt="" width="50" height="50" />
        <h3>{{ co.name }}</h3>
        <p>Location: {{ co.geolocation.location }}</p>
        <p>
          Category:
          <a routerLink="child-a">{{ co.category.name }}</a>
        </p>
      </agm-info-window>
    </agm-marker>
  </agm-map>
</div>
