@use '../../../base';

.jumbotron {
    background-image: url(../../../assets/2.png);
    @extend %auth-background;
}

.title {
    @extend %content-center;
    font-size: 22px;
    color: black !important;
}

.full-row {
    width: 90% !important;
}

.send {
    border: 3px solid base.$main-color;
    color: base.$main-color;
    border-radius: 30px !important;
    stroke: none;
    width: 200px !important;
}

form {
    @extend %content-center;
}