.jumbotron {
    background-image: url(../../../assets/2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh;  
}

::ng-deep .mat-card{
    border-radius: 30px !important;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 22px;
    text-align: center;
}

.full-row {
    width: 90% !important;
}

.send {
    border: 3px solid #1A78C2;
    color: #1A78C2;
    border-radius: 30px !important;
    stroke: none;
    width: 200px !important;
}

form {
    text-align: center;
}