@use '../../../base';

#comment-image-file-input {
    visibility: hidden;
}

#image {
    max-width: 200px;
    height: auto;
    float: left;
}

.mat-dialog-actions {
    @extend %dialog-actions;
}

.label-image {
    cursor: pointer;
    padding: 6px 12px;
    background-color: base.$main-color;
    color: white;
    border-radius: 5px;
}

.file-name {
    visibility: hidden;
}

.mat-raised-button.mat-primary { 
    @extend %raised-button;
    vertical-align: bottom; 
} 

.mat-raised-button{ 
    @extend %simple-raised-button;
} 

.mat-dialog-title { 
    @extend %dialog-title;
}

.mat-dialog-content { 
    @extend %content-center;
}

.textarea-comment {
    width: 100%;
}
