<h1 mat-dialog-title class="mb-4 font-weight-bold">New comment</h1>
<mat-dialog-content class="mt-3">
    <form [formGroup]="form" id="forma" (ngSubmit)="add()">
        <p><mat-form-field class="textarea-comment" appearance="outline">
            <mat-label>Comment</mat-label>
            <textarea formControlName="text" matInput placeholder="Add comment..." rows="4" [errorStateMatcher]="matcher" id="comment-text"></textarea>
            <mat-error *ngIf="f.text.errors?.allEmpty" id="all-empty-comment">Comment must contain either text or image</mat-error>
        </mat-form-field></p>
        <img [src]="uploadedImage" alt="" id="image" *ngIf="uploadedImage !== ''"/>
        <label class="label-image" for="comment-image-file-input" style="float: right; vertical-align: center;"><b>Add image</b></label>
        <input type="file" accept="image/jpeg, image/jpg" (change)="chooseFile($event)" id="comment-image-file-input"/>
        <p class="file-name"><mat-form-field>
            <input formControlName="fileName" matInput [errorStateMatcher]="matcher" id="filename-add-comment"/>
        </mat-form-field></p>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-primary" type="submit" form="forma" id="add-comment-btn">Add</button>
    <button class="ml-2 mat-raised-button" (click)="close()" id="close-add-comment-btn">Close</button>
</mat-dialog-actions>
  
